.footer{
    .footer-links{
        padding: 36px;
        background-color: rgb(39, 39, 39);
        color: white;
    }
    .copyright{
        background-color: rgb(17, 17, 17);
        color: white;
    }
}